{{>layout/header}}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Liste des applications </h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-light table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nom d'application</th>
                    </tr>
                </thead>
                <tbody>
                    {{#apps}}
                    <tr>
                        <td>{{name}}</td>
                    </tr>
                    {{/apps}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{>layout/footer}}